body {
    box-shadow: 
        0 0 0 6px #000000;
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    text-decoration: none;
    font-size: 2rem;
}

section {
    background-color: rgb(255, 255, 255);
}

#Barrett {
    width: 16rem;
    height: 6rem;
}

#About .text-box {
    border: solid black;
    margin: 0;
    line-height: 1.2;
    padding: 5px;
    border-width: 4px;
    text-align: center;
    display: inline-block;
}

.text-box p {
    margin: 0;
}

.Barrett-Container {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}