body {
    box-shadow: 
        0 0 0 10px #c93333,
        0 0 0 20px #000000;
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    text-decoration: none;
    font-size: 2rem;
}

section {
    background-color: lightgreen;
}