body {
    /* box-shadow: 
        0 0 0 6px #000000; */
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: rgb(66, 66, 139);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    text-decoration: none;
    font-size: 2rem;
}

section {
    padding: 0rem 3rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 6px;
}

.Project-List {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem;
}

#Barrett {
    width: 16rem;
    height: 6rem;
}

#Puppy {
    width: 10rem;
    height: 6rem;
}

#Puppy2 {
    width: 10rem;
    height: 6rem;
}

#About .text-box {
    border: solid black;
    margin: 0;
    line-height: 1.2;
    padding: 5px;
    border-width: 4px;
    text-align: center;
    display: inline-block;
}

.text-box p {
    margin: 0;
    text-align: center;
}

.Barrett-Container {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.Project-Box {
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

#Resume-Image {
    width: 10rem;
}

.Project-Image {
    border-bottom: 4px solid black;
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: black;
}